<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="110" />
    <title>Server List</title>
  </head>

  <body>
    <div style="display: none" id="djangoData" data-json="{{ context }}"></div>
    <p>
      This page updates every 10s and will update the DB. The db updates
      automatically every minute if not on the page, status is updated whether
      you here or not.
    </p>
    <p>
      To add to the list go to asdfghjkl.co.za/view/Your domain, this will
      automatically add it
    </p>
    {{ context }}
    <h3>{{context.address}}</h3>
    <p>Added to monitor on {{context.dateadded}}</p>
    <p>{{context.notes}}</p>
    <p>{{context.status}}</p>
    <h1>test</h1>
  </body>
</html>
<script>
  // console.log(document.getElementById("djangoData").dataset.json);
</script>
